
img {
  width: 50%
}

/* 16px == 1rem */
html { font-size: 16px; }


aside {
  width: 5rem;
}  
article {
  
  width: 40rem;
  height: 15rem;
  margin: auto;
}
.container {
  display: flex;
  margin: 0 auto;
  flex-flow: wrap;
  height: 1rem;
  width: 40rem; 
}

a:link {
  color: fuchsia;
}

a:visited{
  color:purple;
}

.container > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: linear-gradient(to bottom, lightblue, yellow);
  text-align: right;
  word-spacing: 1rem;
}

.footer {
  background: linear-gradient(to bottom right, gold, purple);
  text-align: center;
}

.main {
  background: lightblue;
  background-image: url(../Images/img_tree.png);
/*  Image source https://lh5.googleusercontent.com/-ZBLYo1oD6bM/UHox3oBICxI/AAAAAAAAAgo/yCg6TcxLeC4/s358/img_tree.png*/
  background-repeat: no-repeat;
  background-size: 50px 89px;
  background-position: center bottom;
  text-align: left;
  margin: auto;
}

.aside {
  background: lightblue;   
}


/* Google Fonts and Font Awesome Added April 29 */

body, p {
    font-family: 'Roboto';
    font-size: 1em;
}

nav, h1, h2, h3, h4, h5, h6, footer {
    font-family: 'Amaranth';
}

i {
    margin-right: 5px;
}

footer {
    clear: both;
}
